---
import Layout from "@layouts/Layout.astro";
import Header from "@layouts/Header.astro";
import TypographyH2 from "@components/TypographyH2.astro";
import ResponsivePicture from "@components/ResponsivePicture.astro";
import "@styles/clamps.css";
import "@styles/fonts.css";
import { TableVw } from "@components/table/TableVw.tsx";
---

<Layout title="Welcome to Asunixyo Studio.">
  <Header />
  <main class="overflow-x-hidden">
    <div class="px-clamp-5vw">
      <section class="mb-clamp-6vh">
        <TypographyH2 text="VW REFERENCE" />
        <TableVw client:load />
      </section>
    </div>
  </main></Layout
>
