---
import Layout from "@layouts/Layout.astro";
import Header from "@layouts/Header.astro";
import WorkTittle from "@components/WorkTittle.astro";
import ListContent from "@components/ListContent.astro";
import "@styles/clamps.css";
import "@styles/fonts.css";
---

<Layout title="Welcome to Asunixyo Studio.">
  <Header />
  <div class="overflow-x-hidden">
    <div class="px-[5vw]">
      <WorkTittle text="コーポレートサイトの実装" />
      <div class="flex justify-center items-center mb-[3vh]">
        <div class="w-full">
          <img
            class="w-full rounded-xl"
            src="/assets/images/about/cat@2x.png"
            alt="コーポレートサイトの説明"
          />
        </div>
      </div>
      <ul>
        <ListContent
          className="mb-[3vh]"
          title="WordPressで構築"
          text="index.php、archive.phpなどの構成で構築"
        />
        <ListContent
          className="mb-[3vh]"
          title="独自のアニメーション実装（TypeScript）"
          text="dot font の実装"
        />
      </ul>
    </div>
  </div>
</Layout>
