---
interface Props {
  link: string;
  text: string;
  imgSrc: string;
}

const { link, text, imgSrc } = Astro.props;
---

<div class="flex flex-col items-center">
  <a
    href={link}
    target="_blank"
    class="relative aspect-square w-full bg-[#FFC6C7] rounded-full shadow-md"
  >
    <div
      class="absolute w-[65%] left-1/2 top-1/2 -translate-y-1/2 -translate-x-1/2 rounded-full overflow-hidden"
    >
      <img class="w-full" src={imgSrc} alt="" />
    </div>
  </a>
  <p class="mt-clamp-2vh text-clamp-3vw">{text}</p>
</div>
