---
interface Props {
  className: string;
  classNameSkill?: string;
  text: string;
  skillText: string;
}

const {
  className,
  classNameSkill = "text-white",
  text,
  skillText,
} = Astro.props;
---

<div
  class=`bg-[length:40%] bg-center bg-no-repeat flex justify-center items-center aspect-square rounded-full shadow-md ${className}`
>
  <div class="flex flex-col text-center">
    <p class="w-[80%] text-clamp-2vw mx-auto">{text}</p>
    <p class=`font-KumarOneRegular mt-clamp-2vh ${classNameSkill}`>{skillText}</p>
  </div>
</div>
