---
import ListTitle from "@components/ListTitle.astro";

interface Props {
  className?: string;
  title: string;
  text?: string;
}

const { className, title, text } = Astro.props;
---

<li class={className}>
  <ListTitle title={title} />
  <p class="ml-clamp-5vw leading-clamp-4vh text-clamp-3vw">
    {text}
  </p>
</li>
