---
import ResponsivePicture from "@components/ResponsivePicture.astro";
import '@styles/globals.css'
---

<header class="flex justify-between items-center px-clamp-5vw py-clamp-2vh">
  <div class="w-clamp-28vw-14.9vh">
    <ResponsivePicture
      className="w-full"
      src="/assets/images/header/logo"
      alt="ロゴ"
    />
  </div>
  <div class="w-clamp-9vw-4.8vh">
    <img
      class="w-full"
      src="/assets/images/header/hamburger.png"
      alt="メニュー"
    />
  </div>
</header>
